.map {
  position: relative;
}

.map-section {
  position: relative;
  height: calc(100vh - 60px); 
  width: 100%;
}


.center-button {
  position: absolute;
  bottom: 20px;
  left: 20px;
  z-index: 1; 
  background-color: #3b3b3b;
  color: rgb(255, 255, 255);
  padding: 12px; 
  border: none;
  border-radius: 50%;
  font-size: 24px;
  cursor: pointer; 
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); 
  transition: background-color 0.3s ease, transform 0.2s ease; 
}

.center-button:hover {
  background-color: #555; /* Cambia el color de fondo al pasar el mouse */
  transform: scale(1.1); /* Aumenta ligeramente el tamaño */
}

.center-button:active {
  background-color: #777; /* Cambia el color al hacer clic */
  transform: scale(0.95); /* Reduce ligeramente el tamaño */
}

@media screen and (max-width: 768px) {
  .header {
    flex-direction: column;
    align-items: flex-start;
    height: auto;
  }

  .logo img {
    width: 40px;
  }

  .map-section {
    height: calc(100vh - 120px); /* Ajustar la altura en pantallas pequeñas */
  }

  .center-button,
  .sandwich-button {
    bottom: 10px;
    left: 10px;
    font-size: 20px;
    padding: 8px;
  }
}

@media screen and (max-width: 480px) {
  /* Ajustes para pantallas muy pequeñas */
  .center-button,
  .sandwich-button {
    font-size: 16px;
    padding: 6px;
  }
}

