.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #00acee;
  padding: 10px;
}

.logo img {
  width: 100px;
}

.options {
  display: flex;
  align-items: center;
}

.menu {
  color: white;
  font-size: 24px;
  margin-right: 20px;
}

.greeting {
  color: white;
  display: flex;
  align-items: center;
}

.greeting p {
  margin-left: 10px;
}

.mapa {
  position: relative;
}

.map-section {
  position: relative;
  height:82vh;
  width: 100%;
}

.center-button,
.sandwich-button {
  position: absolute;
  background-color: #00acee;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 100%;
  font-size: 24px;
  cursor: pointer;
}

.center-button {
  bottom: 10px;
  left: 60px;
}

.sandwich-button {
  bottom: 10px;
  left: 10px;
}